body {
  background-color: #000000;
}

@font-face {
    font-family: 'Robot Heroes';
    src: url('makefafsbitethecurb161.github.io/site 1/immages-pour-css/fonts/robot-hero/Robot Heroes.woff');
}
body {
    background-image: url('makefafsbitethecurb161.github.io/site 1/immages-pour-css/background/immage-1.JPG');
      background-size: cover;
      background-position: top;
      background-attachment: scroll;
      height: 400px;
      padding: 0px;
      margin: 0px;
      background-repeat: no-repeat;
      color: white;
    }
    
#section-titre {
    color: red;
    font-family: 'Robot Heroes';
    font-size: 45px;
    text-align: center;
}

.boite4 {
      background-image: url('makefafsbitethecurb161.github.io/site 1/immages-pour-css/boites-icones/immage-boutonmenu.jpg');
      width: 150px;
      height: 100px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      border-bottom-left-radius: 10%;
      border-bottom-right-radius: 10%;
      border-top-left-radius: 10%;
      border-top-right-radius: 10%;
      position : fixed;
      top : 85%;
      left : 50%;
      transform: translate(-50%, -50%);
      border: #ffffff solid 1px;
      font-family: 'Robot Heroes';
      text-align: center;
      font-size: 23px;
      text-shadow: 2px 2px 20px black;
      color: red;
    }

    .texte-histoire {
      width: 80vw;
      height: 45vh;
      background-image: url('makefafsbitethecurb161.github.io/site 1/immages-pour-css/boites-icones/immage-fondtexte.jpg');
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-size: cover;
      padding: 50px;
      box-sizing: border-box;
      position : fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: #ffffff solid 1px;
      font-family: 'Robot Heroes';
      text-align: center;
      font-size: 1vw;
      text-shadow: 2px 2px 20px black;
      color: rgb(255, 255, 255);

    }
